*{
	text-decoration:none;
	scroll-behavior:smooth;
	transition:scroll ease 1s;
	overflow-x:hidden;
	text-align:center;
	margin:0;padding:0;color:white;
	font-family:arial;font-size:3vh;transition:transform ease 0.35s;
	-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;
	-moz-user-select:none;-ms-user-select:none;user-select:none;}

html{background-color:var(--color1);}
.Main,.sec h1,.media,.sec h1,.content,.top,.download,.content span,.btn ,.Tags,.Title{
display:flex;justify-content:center;align-items:center;}

.sec h1,.sec,.Tags,.Head,.media,.content,.Download,.content span{width:100vw;}

.Head,.sec{flex-flow:wrap;}

.top,.sec h1,.Title,.content{width:100%;}

.Head{min-height:100vh;background-color:rgb(49,51,53);align-items:top;}

.sec,.media img,.media iframe,.Tags h3,.download{border-radius:0.75vh;transform:scale(0.8)}

.sec,.content span,.Tags *{transform:scale(.95);}

.sec{background-color:rgba(250,160,0,0.98);margin-top:1.5vw;box-shadow:0vh 1vh 0.0vh 0vh rgba(10,10,10,0.5);}

.top{background-color:height:7vh;}

.sec h1{height:5vh;background-color:transparent;}

.content{align-items:top;flex-direction:column;}

.media{background-color:transparent;}

.media img,.media iframe{width:33%;}.content span{min-height:22.5vh;}

.download{transition:background ease 0.21s;transition:color ease 0.21s;}

.right{color:rgb(69,71,73);}

.download:hover{cursor:pointer;background-color:white;color:black;}

.Tags h3{padding:0.5vw;background-color:transparent;transform:scale(0.8);}

.download{padding:0.5vw;background-color:rgba(00,0,0,0.15);transform:scale(0.8);}

.Title{justify-content:left;overflow:hidden;}.Title p,.Title p a{color:rgb(69,71,73);overflow:hidden;font-size:5vh;height:100%;padding-left:0.5vw;}

/** All RIGHT Reserve to MatthysDev **/